.notes__main-content {
  display: flex;
  flex-direction: column;
  height: 100%;

  .notes__appbar {
    align-items: center;
    background-color: $primary;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }

  .notes__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;

    .notes__title-input {
      color: $dark-grey;
      font-size: 25px;
      font-weight: 700;
      margin-bottom: 10px;
      border: none;
      outline: none;
    }

    .notes__textarea {
      color: $dark-grey;
      font-size: 20px;
      flex: 1 1 auto;
      resize: none;
      height: 100%;
      width: 100%;
      border: none;
      outline: none;
    }

    .notes__image{
      margin-top: 20px;

      img {
        box-shadow: 5px 5px 8px -.5px lighten($color: $dark-grey, $amount: 30);
        max-width: 50%;
      }
    }
  }
}
